@import "../../../styles/typography/typography";

.past-expireance {
    h2 {
        margin-bottom: 25px;
        @include pastHead;
        color: var(--font-color);
    }
}
.main-block {
    margin: 16px 0 52px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px 24px;

    @media (max-width: 1880px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (max-width: 1640px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1128px) {
        grid-template-columns: repeat(3, 1fr);
    }

    .block-div {
        .block-div-image {
            position: relative;
            cursor: pointer;

            img {
                border-radius: 12px;
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
            }

            .upload {
                position: absolute;
                top: 10px;
                right: 10px;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.8);
                padding: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                svg {
                    width: 14px;
                    stroke-width: 3px;
                    stroke: var(--color-black);
                }

                &:hover {
                    background-color: var(--color-white);
                    transition: 0.3s ease-in-out;
                }
            }

            .left-scroll,
            .right-scroll {
                position: absolute;
                z-index: 9;
                top: calc(50% - 16px);
                opacity: 0;
                transition: 0.3s ease-in-out;

                svg {
                    fill: var(--color-black);
                    width: 12px;
                    height: 12px;
                }
            }

            .left-scroll {
                left: 10px;
            }

            .right-scroll {
                right: 10px;
            }

            .track-dots {
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                gap: 5px;

                .dot {
                    width: 5px;
                    height: 5px;
                    background-color: rgba(255, 255, 255, 0.5);
                    border-radius: 50%;
                    transition: background-color 0.3s ease;

                    &.active {
                        background-color: white;
                    }
                }
            }

            &:hover {
                .left-scroll,
                .right-scroll {
                    opacity: 1;
                    transition: 0.3s ease-in-out;
                }
            }
        }

        .block-div-text {
            margin-top: 12px;

            h3 {
                @include font15;
                font-weight: 500;
                color: var(--font-color);
            }

            p {
                @include font15;
                color: var(--font-color2);
                margin: 2px 0;
            }

            span {
                display: block;
                @include font15;
                font-weight: 500;
                color: var(--font-color);
            }
        }
    }
}
