.grid {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;

    .grid-div {
        .image-div {
            position: relative;
            overflow: hidden;
            border-radius: 12px;

            img {
                width: 100%;
                aspect-ratio: 1/1;
            }

            .left-scroll,
            .right-scroll {
                position: absolute;
                z-index: 9;
                top: calc(50% - 16px);
                transition: 0.3s ease-in-out;

                svg {
                    fill: var(--color-black);
                    width: 12px;
                    height: 12px;
                }

                button:disabled {
                    opacity: 0;
                    pointer-events: none;
                }
            }

            .left-scroll {
                left: 10px;
            }

            .right-scroll {
                right: 10px;
            }

            .track-buttons {
                position: absolute;
                bottom: 20px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                .track-btn {
                    padding: 3px;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.5);
                    border: none;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &.active {
                        background-color: var(--color-white);
                    }
                }
            }
        }
    }
}
