@import "../../styles/typography/typography";

.header-bottom {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 8;
    border-top: 1px solid var(--border-header);
    padding: 8px;
    background-color: var(--color-white);
    grid-template-columns: repeat(3, 112px);
    align-items: center;
    justify-content: center;
    gap: 5px;
    transform: translateY(0);
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;

    @media (max-width: 768px) {
        display: grid;
    }

    &.hide {
        transform: translateY(100%);
    }

    &.show {
        transform: translateY(0);
    }

    .header-bottom-div {
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            svg {
                fill: none;
                stroke-width: 2px;
                stroke: var(--font-color2);
            }

            span {
                display: block;
                margin-top: 5px;
                @include font12;
                color: var(--font-color2);
            }
        }

        .active {
            svg {
                stroke: var(--logo-color);
            }

            span {
                color: var(--logo-color);
            }
        }
    }
}
