@import "../../styles/typography/typography";

.selectionbar {
    background-color: var(--color-white);
    box-shadow: rgb(0 0 0 / 16%) 0 0 6px;

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    @media (max-width: 768px) {
        .container {
            padding: 0;
        }
    }

    .selection-main {
        display: flex;
        align-items: center;
        position: relative;

        .left-scroll,
        .right-scroll {
            position: absolute;
            z-index: 9;
            height: 100%;
            width: 50px;
            display: flex;
            align-items: center;

            svg {
                fill: var(--color-black);
                width: 12px;
                height: 12px;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }

        .left-scroll {
            left: 0;
            background: rgb(255, 255, 255);
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%);
        }

        .right-scroll {
            right: 0;
            background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%);
        }

        .selection-slider {
            overflow: auto;
            white-space: nowrap;
            display: flex;
            gap: 35px;

            @media (max-width: 768px) {
                padding: 0 25px;
                gap: 25px;
            }

            .slider-box {
                user-select: none;

                .selection-box {
                    margin: 12px 0 10px 0;
                    padding: 4px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
                    position: relative;
                    opacity: 0.6;
                    transition: 0.2s ease-in-out;
                    cursor: pointer;

                    @media (max-width: 768px) {
                        gap: 4px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        bottom: -10px;
                        background-color: var(--border-button);
                        opacity: 0;
                    }

                    img {
                        width: 24px;
                    }

                    span {
                        display: block;
                        @include font12;
                        font-weight: 500;
                        color: var(--color-black);
                    }

                    &:hover {
                        opacity: 1;

                        &::after {
                            opacity: 1;
                            transition: 0.2s ease-in-out;
                        }
                    }
                }

                &:first-child {
                    .selection-box {
                        opacity: 1;

                        &::after {
                            opacity: 1;
                            background-color: var(--color-black);
                        }
                    }
                }
            }
        }

        .selection-slider.dragging {
            user-select: none;
        }
    }
}
