.selectionbar {
    padding-top: 12px;
    position: sticky;
    top: 80px;
    background-color: var(--color-white);
    box-shadow: rgb(0 0 0 / 16%) 0 0 6px;

    .selection-main {
        display: flex;
    }
}
