@import "../../styles/typography/typography";

footer {
    background-color: var(--bg-button-hover);

    @media (max-width: 768px) {
        margin-bottom: 60px;
    }

    .inspiration {
        padding: 48px 0;
        border-bottom: 1px solid var(--border-button);

        ::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        h2 {
            margin-bottom: 8px;
            @include footerHead;
            color: var(--font-color);
        }

        .inspiration-main {
            position: relative;

            .inspiration-select {
                display: flex;
                gap: 26px;
                border-bottom: 1px solid var(--border-button);
                overflow-x: auto;
                white-space: nowrap;

                .inspiration-select-box {
                    padding: 16px 0;
                    cursor: pointer;
                    position: relative;

                    span {
                        @include homeButton;
                        color: var(--font-color2);
                    }

                    &.active {
                        span {
                            color: var(--font-color);
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            height: 2px;
                            width: 100%;
                            left: 0;
                            bottom: 0;
                            background-color: var(--font-color);
                        }
                    }
                }
            }

            .left-slide,
            .right-slide {
                position: absolute;
                z-index: 8;
                top: 0;
                height: 100%;
                display: flex;
                align-items: center;

                svg {
                    fill: var(--color-black);
                    width: 12px;
                    height: 12px;
                }
            }

            .left-slide {
                left: 0;
                background: linear-gradient(270deg, rgba(247, 247, 247, 0) 0%, rgba(247, 247, 247, 1) 25%);
            }

            .right-slide {
                right: 0;
                background: linear-gradient(90deg, rgba(247, 247, 247, 0) 0%, rgba(247, 247, 247, 1) 25%);
            }
        }

        .inspier-inner {
            padding-top: 38px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 24px 8px;

            @media (max-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media (max-width: 576px) {
                grid-template-columns: repeat(2, 1fr);
            }

            .inspier-inner-box {
                h3 {
                    @include homeButton;
                    color: var(--font-color);
                }

                p {
                    @include homeButton;
                    font-weight: 400;
                    color: var(--font-color2);
                }
            }

            .Show-more {
                display: flex;
                gap: 5px;
                align-items: center;
                cursor: pointer;

                h3 {
                    @include homeButton;
                    color: var(--font-color);

                    &:hover {
                        text-decoration-line: underline;
                    }
                }

                svg {
                    width: 12px;
                    stroke-width: 5px;
                    stroke: var(--font-color);
                }
            }
        }
    }

    .footer-list {
        .footer-list-link {
            padding: 48px 0;
            border-bottom: 1px solid var(--border-button);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 8px;

            @media (max-width: 1024px) {
                display: block;
                gap: 0;
                padding: 0;
                border: none;
            }

            .footer-link-box {
                @media (max-width: 1024px) {
                    padding: 24px 0;
                    border-bottom: 1px solid var(--border-button);
                }

                h3 {
                    @include homeButton;
                    color: var(--font-color);
                    margin-bottom: 12px;
                }

                a {
                    display: block;
                    margin-bottom: 12px;
                    @include homeButton;
                    font-weight: 400;
                    line-height: 20px;
                    color: var(--font-color);

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:hover {
                        text-decoration-line: underline;
                    }
                }
            }
        }

        .footer-list-copy {
            padding: 24px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 1024px) {
                flex-direction: column-reverse;
                gap: 16px;
            }

            @media (max-width: 576px) {
                align-items: start;
            }

            .footer-copy-div {
                display: flex;
                align-items: center;

                @media (max-width: 1024px) {
                    flex-direction: column;
                    gap: 2px;
                }

                @media (max-width: 576px) {
                    align-items: start;
                }

                p {
                    @include homeButton;
                    font-weight: 400;
                    color: var(--font-color);
                }

                .term-list {
                    display: flex;

                    a {
                        display: block;
                        @include homeButton;
                        font-weight: 400;
                        color: var(--font-color);

                        &:hover {
                            text-decoration-line: underline;
                        }
                    }

                    span {
                        padding: 0 8px;
                        line-height: 18px;

                        @media (max-width: 1024px) {
                            &:first-child {
                                display: none;
                            }
                        }
                    }
                }
            }

            .footer-copy-div2 {
                display: flex;
                align-items: center;
                gap: 24px;

                .footer-leg {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 16px;
                        height: 16px;
                        margin-right: 8px;
                    }

                    span {
                        @include font16;
                        cursor: pointer;
                        margin-right: 5px;
                    }

                    a {
                        @include homeButton;
                        color: var(--font-color);

                        &:hover {
                            text-decoration-line: underline;
                        }
                    }
                }

                .footer-media {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    @media (max-width: 576px) {
                        display: none;
                    }

                    a {
                        height: 18px;

                        svg {
                            width: 18px;
                        }
                    }
                }
            }
        }
    }
}
