header {
    position: relative;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--border-button);

    @media (max-width: 768px) {
        border-bottom: none;
    }

    .header-div {
        padding: 8px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1024px) {
            grid-template-columns: auto auto 1fr;
            gap: 20px;
        }

        @media (max-width: 768px) {
            display: none;
        }

        .logo {
            display: flex;

            a {
                display: block;
                min-height: 64px;
                display: flex;
                align-items: center;

                svg {
                    fill: var(--color-black);
                    transition: 0.3s ease-in-out;

                    @media (max-width: 1024px) {
                        max-width: 33px;
                        path {
                            &:nth-child(2) {
                                display: none;
                            }
                        }
                    }
                }

                &:hover {
                    svg {
                        fill: var(--logo-color);
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }

        nav {
            display: flex;
            justify-content: center;
        }

        .user {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    .header-respo {
        display: none;
        padding: 14px 0 0 0;

        @media (max-width: 768px) {
            display: block;
        }
    }
}
