@import "../../styles/typography/typography";

header {
    position: relative;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--border-button);

    @media (max-width: 768px) {
        border-bottom: none;
    }

    .header-div {
        padding: 8px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1024px) {
            grid-template-columns: auto auto 1fr;
            gap: 20px;
        }

        @media (max-width: 768px) {
            display: none;
        }

        .logo {
            display: flex;

            a {
                display: block;
                min-height: 64px;
                display: flex;
                align-items: center;

                svg {
                    fill: var(--color-black);
                    transition: 0.3s ease-in-out;

                    @media (max-width: 1024px) {
                        max-width: 33px;
                        path {
                            &:nth-child(2) {
                                display: none;
                            }
                        }
                    }
                }

                &:hover {
                    svg {
                        fill: var(--logo-color);
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }

        nav {
            display: flex;
            justify-content: center;
        }

        .user {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .home-button {
                a {
                    display: block;
                    padding: 12px 15px;
                    border: none;
                    border-radius: 90px;
                    background-color: transparent;
                    color: var(--font-color);
                    @include homeButton;
                    cursor: pointer;
                    position: relative;
                    transform: translateX(6px);
                    transition: 0.3s ease-in-out;

                    &:hover {
                        background-color: var(--bg-button-hover);
                        transition: 0.3s ease-in-out;
                    }
                }
            }

            .search-button {
                a {
                    display: block;
                    margin-right: 5px;
                    padding: 12px 15px;
                    border: none;
                    border-radius: 90px;
                    background-color: transparent;
                    color: var(--font-color);
                    cursor: pointer;
                    transition: 0.3s ease-in-out;

                    svg {
                        display: block;
                        width: 16px;
                        height: 18px;
                        fill: var(--font-color);
                    }

                    &:hover {
                        background-color: var(--bg-button-hover);
                        transition: 0.3s ease-in-out;
                    }
                }
            }

            .user-button {
                position: relative;

                .drop-down {
                    position: absolute;
                    right: 0;
                    top: calc(100% + 5px);
                    min-width: 240px;
                    z-index: 99;
                    background-color: var(--color-white);
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    border-radius: 8px;
                    padding: 8px 0;

                    a {
                        display: block;
                        padding: 12px 16px;
                        @include font14;
                        color: var(--font-color);
                        transition: 0.3s ease-in-out;

                        &:hover {
                            background-color: var(--bg-hover);
                            transition: 0.3s ease-in-out;
                        }

                        &:first-child {
                            font-weight: 500;
                        }
                    }

                    .drop-down-border {
                        border-top: 1px solid var(--border-button);
                        margin: 8px 0;
                    }
                }
            }
        }
    }

    .header-respo {
        display: none;
        padding: 14px 0 0 0;

        @media (max-width: 768px) {
            display: block;
        }
    }
}
