/* airbnb */
@font-face {
    font-family: "airbnb";
    src: url("../../assets/font/Airbnb/AirbnbCereal_W_Lt.otf") format("opentype");
    font-weight: 300; /* Light */
}

@font-face {
    font-family: "airbnb";
    src: url("../../assets/font/Airbnb/AirbnbCereal_W_Bk.otf") format("opentype");
    font-weight: 400; /* Book */
}

@font-face {
    font-family: "airbnb";
    src: url("../../assets/font/Airbnb/AirbnbCereal_W_Md.otf") format("opentype");
    font-weight: 500; /* Medium */
}

@font-face {
    font-family: "airbnb";
    src: url("../../assets/font/Airbnb/AirbnbCereal_W_Bd.otf") format("opentype");
    font-weight: 600; /* Bold */
}

@font-face {
    font-family: "airbnb";
    src: url("../../assets/font/Airbnb/AirbnbCereal_W_XBd.otf") format("opentype");
    font-weight: 800; /* Extra Bold */
}

@font-face {
    font-family: "airbnb";
    src: url("../../assets/font/Airbnb/AirbnbCereal_W_Blk.otf") format("opentype");
    font-weight: 900; /* Black */
}