
@mixin font10 {
    font-size: 10px;
    line-height: 12px;
}

@mixin font12 {
    font-size: 12px;
    line-height: 16px;
}

@mixin font14 {
    font-size: 14px;
    font-weight: 400;
}

@mixin homeButton {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.125rem;
}

@mixin font15 {
    font-size: 15px;
    line-height: 19px;
}

@mixin font16 {
    font-size: 16px;
    font-weight: 400;
}

@mixin font16Line {
    font-size: 16px;
    line-height: 1.5rem;
}

@mixin font20 {
    font-size: 20px;
    font-weight: 400;
}

@mixin footerHead {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
}

@mixin sideHead {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}

@mixin font32 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}

@mixin pastHead {
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
}

@mixin font160 {
    font-size: 160px;
    font-weight: 700;
    line-height: 1.2;
}
