.container {
    max-width: 2520px;
    margin: 0 auto;
    padding: 0 80px;

    @media (max-width: 1440px) {
        padding: 0 40px;
    }

    @media (max-width: 768px) {
        padding: 0 24px;
    }
}

.container-footer {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 80px;

    @media (max-width: 1880px) {
        max-width: 100%;
    }

    @media (max-width: 1440px) {
        padding: 0 40px;
    }

    @media (max-width: 768px) {
        padding: 0 24px;
    }
}
