.container {
    max-width: 2520px;
    margin: 0 auto;
    padding: 0 80px;

    @media (max-width: 1440px) {
        padding: 0 40px;
    }
}

.container-footer {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 40px;
}