:root {
    --color-white: #fff;
    --color-black: #000;

    --font-color: #222222;
    --font-color2: #6a6a6a;
    --font-color-error: #ffeb3b;

    --bg-button-hover: #f7f7f7;

    --border-button: #dddddd;
    --border-header: #ebebeb;

    --logo-color: rgb(255, 56, 92);

    --error-accent-color: #ff6f61;
    
    --font-family-airbnb: "airbnb";
}
