:root {
    --color-white: #fff;
    --color-black: #000;

    --font-color: #222222;
    --font-color2: #6a6a6a;
    --font-color-error: #ffeb3b;

    --bg-hover: #f4f4f4;
    --bg-hover2: #f7f7f7;
    --bg-button-hover: #f9f9f9;
    --bg-button: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    --bg-button2: #cccccc;

    --border-button: #dddddd;
    --border-button2: #b0b0b0;
    --border-button3: #e9e9e9;
    --border-header: #ebebeb;

    --logo-color: rgb(255, 56, 92);

    --error-accent-color: #ff6f61;
    
    --font-family-airbnb: "airbnb";
}

