@import "../../../styles/typography/_typography.scss";

.your-home-header {
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    z-index: 99;

    .your-header-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;

        @media (max-width: 768px) {
            padding: 12px 0;
        }

        .logo {
            display: flex;

            a {
                display: block;
                min-height: 40px;
                display: flex;
                align-items: center;

                svg {
                    width: 40px;
                    fill: var(--logo-color);
                    transition: 0.3s ease-in-out;

                    path {
                        &:nth-child(2) {
                            display: none;
                        }
                    }
                }
            }
        }

        .your-header-button {
            display: flex;
            gap: 24px;
            align-items: center;

            @media (max-width: 768px) {
                display: none;
            }

            span {
                @include font16Line;
                font-weight: 500;
                color: var(--font-color);
            }

            a {
                padding: 12px 24px;
                background: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
                border-radius: 8px;
                @include font18Line;
                color: var(--color-white);
                display: flex;
                align-items: center;

                svg {
                    margin-right: 4px;
                }
            }
        }
    }
}
